@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
  .flex-center {
    @apply flex justify-center items-center
  }
  
  .nav-active {
    @apply h-[60%] p-2 flex justify-center items-center font-medium text-white bg-black cursor-pointer text-[min(10vw,15px)] rounded-md;
  }
  .nav-not-active {
    @apply h-[60%] p-2 flex justify-center items-center font-medium text-white  hover:bg-[rgb(0,0,0)] hover:text-white  cursor-pointer text-[min(10vw,15px)] rounded-md;
  }

  .extraSmallResFont{
    @apply text-[min(3vw,10px)]
  }
  .smallResFont{
    @apply text-[min(3vw,15px)]
  }
  .mediumResFont{
    @apply text-[min(5vw,20px)]
  }
  .largeResFont{
    @apply text-[min(7vw,28px)]
  }
  .xLargeResFont{
    @apply text-[min(10vw,35px)]
  }
  .xxLargeResFont{
    @apply text-[min(15vw,50px)]
  }
  .xxxLargeResFont{
    @apply text-[min(25vw,65px)]
  }
  
}

html {
  scroll-behavior: smooth;
}
body {
  background-color:rgb(255, 255, 255);
}
/* Modern-Normalize CSS reset: */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
line-height: 1.5;
}
h1, h2, h3, h4, h5, figure, p, ol, ul {
margin: 0;
}
h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}
img {
  display: block;
  max-inline-size: 100%;
}
ol[role="list"], ul[role="list"] {
list-style: none;
padding-inline: 0;
}
/* Modern-Normalize CSS reset ends here */

.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.selectedOptionNavbar{
  border-bottom: 1.5px solid #DFB159;
  color: #DFB159;
  display: flex;
  align-items: center;
}
.weaponGrid img{
  height: 8rem;
  width: 16rem;
  padding: 5px;
  object-fit: contain;
}
.swiper-button-next,
.swiper-button-prev {
  color: #facc15 !important; /* yellow-400 */
}
.swiper-button-next:hover{
  transform: scale(1.2)!important;
}
.swiper-button-prev:hover{
  transform: scale(1.2)!important;
}
.swiper-pagination {
  position: relative !important;
  margin-top: 2rem !important; /* moves dots downward */
}

.swiper-pagination-bullet{
  background-color: #facc15 !important; /* yellow-400 */
}